# ------------------------
# Build outputs (Maven)
# ------------------------
**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# ------------------------
# IntelliJ IDEA
# ------------------------
.idea/
*.iml
*.ipr
*.iws
out/

# ------------------------
# Eclipse / NetBeans
# ------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
**/build/

# ------------------------
# VS Code
# ------------------------
.vscode/

# ------------------------
# OS cruft
# ------------------------
.DS_Store
Thumbs.db
.metals/